<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus fugiat minima id ut, animi nostrum corrupti veritatis nam consequatur ducimus architecto libero sunt quas ipsam reprehenderit perspiciatis non, voluptas asperiores.</p>

{{svg-jar "gradient" width="18" height="18"}}

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod qui ex quae corporis veritatis debitis fugit? Nesciunt voluptates, sint eveniet, adipisci, dolore suscipit eum debitis distinctio molestias quisquam odio ex!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur reprehenderit nulla officiis animi, alias vitae praesentium eligendi ipsum doloremque at ex ut inventore iure! Ipsam nisi eos soluta molestiae. Deleniti!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, quia commodi. Suscipit, quod numquam ipsa eligendi dolorem libero facilis non ratione, debitis ullam eveniet quasi voluptatum veniam quis vero aspernatur.</p>